.main{
    width: 100%;
    height: 100px;
    background-size: cover;
    background-image: url("https://s3.eu-central-1.amazonaws.com/public.temicloud.io/images/uploads/7cbd5835-4ab5-4a2f-b3e5-437f33cbcf9e.png?q=80");

}
input {border:0;outline:0;}
input:focus {outline:none!important;}

select {border:0;outline:0;}
select:focus {outline:none!important;}

option {border:0;outline:0;}
option:focus {outline:none!important;}
select {
    border:0px;
    outline:0px;
}
.active{
    display: block;
}
.inactive{
    display: none;
}
#job,.job{
    border-radius: 25px;
}
#form{
    padding-left: 10px;
    padding-right: 10px;
}
#jobs{
    border-radius: 25px;
}
.salary{
    border-radius: 10px;
}

